@import '~bootstrap';

body {
    font-size: 14px;
    background-color: #e1e4e9;
    height: 100vh;
    max-width: 100%;
    overflow-x: auto;
}

.header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100px;
}

.bg-white {
    background-color: #fff;
}

.unset-padding-left {
    padding-left: unset !important;
}

.font-smaller {
    font-size: 14px;
}

.card {
    border-radius: 10px;

    &.email-card {
        opacity: 0.9;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 #dce1ec;

        .card-body {
            opacity: 0.4;
        }

        &.selected {
            opacity: 1;
            background-color: #ffffff;
            box-shadow: 0 20px 40px 0 #d0d6e3;

            .card-body {
                opacity: 1;
            }
        }
    }
}

.form-control {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 #dce1ec;
}

.btn {
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 0.6;
    box-shadow: 0 2px 6px 0 #dce1ec;

    &.selected {
        opacity: 1;
        background-color: #ffffff;
        box-shadow: 0 20px 40px 0 #d0d6e3;
    }
}